{% extends 'base.html' %}

{% block content %}

 {% if user.is_authenticated %}
<h1>Welcome u r logged in raj</h1>
<p>Records are </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">cty</th>
      <th scope="col">address</th>
      <th scope="col">zipcode</th>
      <th scope="col">created_at</th>
    </tr>
  </thead>
  <tbody>
  {% for i in Recordss %}
   {% comment %} <a href="{% url 'records' record.pk %}"> {% endcomment %}
    <tr>
    
      <th scope="row">1</th>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.city}}</td>
      <td>{{i.address|truncatewords:5}}</td>
      <td>{{i.zipcode}}</td>
      <td>{{i.created_at}}</td>
      <td><a href="{% url 'records' i.id %}" style="text-decoration: none;">{{i.id}}</a></td> 
      {% endfor %}
    </tr>
    {% comment %} </a> {% endcomment %}


{% comment %} 
<ul>
{% for i in Recordss %}
<li>{{i.first_name}}</li>
<li>{{i.last_name}}</li>
<li>{{i.email}}</li>
<li>{{i.phone}}</li>
<li>{{i.city}}</li>
<li>{{i.address}}</li>
<li>{{i.zipcode}}</li>
{% endfor %}
</ul>  {% endcomment %}


{%  else %} 

 <h3>Login n</h3>
<form method="POST" action="{% url 'homee' %}"> 
{% comment %} name ='homee' {% endcomment %}
{% csrf_token %}
<form>

  <div class="mb-3">
    <input type="text" placeholder="username" class="form-control" name="username" required>
    <br/>
  <div class="mb-3">
    <input type="password" placeholder="Password" class="form-control"name="password" required>
  </div>
  <br/>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</form> 
{% endif %}
{% endblock %}
